type file
id TransitiveDependencies.MSBuildTask
version 1.1.0
authors Janne K
projectUrl https://github.com/0x022b/TransitiveDependencies.MSBuildTask
developmentDependency true
description
	Copies transitive project dependencies recursively in MSBuild.
files
	TransitiveDependencies.MSBuildTask.targets => build/
